/// <reference path="./Helpers/_mixins" />
/// <reference path="./Helpers/_vars" />

$greenBrightestColor: #CFEDE8;
$greenBrigtColor: #BAE5DB;
$greenMediumColor: #6AC3A6;
$greenDarkColor: #60B88E;
$greenDarkestColor: #5B8F80;
$salmonColortransp: #e3d2b886;
$salmonColor: #E3D2B8;

.container.caption, .caption2{
        background-color: rgba(255, 255, 255, 0.548);
        width: 100vw;
        padding: 0;
        box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
        @media only screen and (max-width:780px) {
                margin:0;
        }
        h1{
                color: black;
                text-align: center;
                font-family: 'EB Garamond', serif;
                font-size: 8em;
                @media only screen and (max-width: 992px) {
                        font-size: 4rem;
                }  
                @media only screen and (max-width: 600px) {
                        font-size: 3rem;
                    }
        }
        p{
                text-align: center;
                font-size: 2.7em;
                color: grey;
                @media only screen and (max-width: 992px) {
                        font-size: 1.5rem;
                } 
                @media only screen and (max-width: 600px) {
                        font-size: 1em;
                    }


        }
                


        .mdBox{
                min-width: 100%;
                padding: 0;
        }

        @media only screen and (max-width: 768px) {
        .row{
                margin: 0;
        }
        }

}

.container.caption2{
      
        box-shadow: none;
        

}





