/// <reference path="./Helpers/_mixins" />
/// <reference path="./Helpers/_vars" />

.container.caption{
        background-color: rgba(255, 255, 255, 0.548);
        width: 100vw;
        padding: 0;
        box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
        @media only screen and (max-width:780px) {
                margin:0;
        }
        h1{
                color: grey;
                text-align: center;
                font-family: 'EB Garamond', serif;
                font-size: 8em;
                @media only screen and (max-width: 600px) {
                        font-size: 2rem;
                    }
        }
        p{
                text-align: center;
        }
                


        .mdBox{
                min-width: 100%;
                padding: 0;
        }

     

}



