/// <reference path="./Helpers/_mixins" />
/// <reference path="./Helpers/_vars" />


main{
    background-image: url(/FodklinikHjemmeside2/Content/Media/fodderbg1.png);
    background-repeat: no-repeat;
    background-size: cover;

    .insideMain{
        margin: auto;
    }

    .afsnitOpd{
        text-align: center;
        border-top: 4px $greenBrigtColor solid;
        border-bottom: 4px $greenBrigtColor solid;
        background-color: rgba(255, 255, 255, 0.432);
        color: $salmonColor;
    }

}



